<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".constants.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineStore"
        tools:targetApi="31">
        <activity
            android:name=".activities.buyer_side.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.buyer_side.AccountSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.buyer_side.BuyerMainActivity"
            android:exported="false"
            android:theme="@style/Orange.Theme.OnlineStore" />
        <activity
            android:name=".activities.buyer_side.SignupBuyerActivity"
            android:exported="false"
            android:theme="@style/Orange.Theme.OnlineStore" />
        <activity
            android:name=".activities.buyer_side.BuyerLoginActivity"
            android:exported="false"
            android:theme="@style/Orange.Theme.OnlineStore" />
        <activity
            android:name=".activities.seller_side.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.seller_side.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.seller_side.InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.seller_side.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".activities.seller_side.SellerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.seller_side.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.seller_side.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>